/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */



footer {
  text-align: center;
  background-color: rgba(158, 143, 178, 1);
}

#modaling {
  width: 100%;
  height: auto;
}

.modal {
  /* background-color: antiquewhite; */
  width: auto;
  height: 45%;
  font-style: italic;
  color: rgb(0, 0, 201);
  font-weight: 450;
}
Main {
  background-color: rgba(158, 143, 178, 1);
  min-height: 100vh;
}
header {
  background-color: rgba(158, 143, 178, 1);
  font-size: 3rem;
}
header h1 {
  text-align: center;
  font-family: cursive;
  background-color: rgba(158, 143, 178, 1);
  color: rgb(255, 255, 255);
  font-size: 5rem;
  min-height: 7rem;
}
