.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: inline-block;
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(219, 90, 186, 1);
    width: 300px;
    height: 450px;
    background-color: rgba(215, 166, 179, 1) ;
    margin: 1rem;
    font-weight: 470;
}

.animalMainImg {
    height: 200px;
    width: 250px;
    border: 3px solid transparent;
}
.card-header {
   color:rgb(133, 67, 169);
   
}
#likeButton {
    background-color: rgba(219, 90, 186, 1);
    border: 2px solid transparent;
}
#likeButton:hover {
    color:blue;
    border: 2px solid blue;
}
.animalMainImg:hover {
    cursor: grabbing;
    border: 3px solid red;
}
@keyframes heartbeat {
    0% {
        transform:scale(.9);
    }
    50% {
        transform:scale(1.05);
    }
    100% {
        transform:scale(.9)
    }
}

.heart {
    color:rgb(133, 67, 169);
    opacity: 1;
    fill:rgb(133, 67, 169);
    animation: heartbeat 1s infinite;
}
@keyframes heartbeat2 {
    0% {
        transform:scale(.95);
    }
    50% {
        transform:scale(1.00);
    }
    100% {
        transform:scale(.95)
    }
}