.beastHorn {
  width: 25%;
  margin-left: 1rem;
  color: rgb(244, 249, 250);
}

#Select {
  color: rgb(133, 67, 169);
  min-width: 190px;
  max-width: 300px;
  font-weight: 500;
}

#labelForm {
  font-family: fantasy;
  font-size: 1.5rem;
}